$white: #ffffff;
$black: #000000;
$darkgrey: #8c8c8c;
$verylightgrey: #696969;
$alata_fontfamily: Alata;
$josefin_sans_fontfamily: Josefin Sans;
$headings: h6, h5, h4, h3, h2;
$navlinks: about, careers, events, products, support;
